.form-input input[type="email"],
input[type="password"] {
  border: 0;
  height: 36px;
  margin-bottom: 14px;
  border-radius: 4px;
  padding: 0 8px;
  outline: none;
}

.form-input input[type="submit"] {
  height: 36px;
  border-radius: 4px;
  background-color: #3366ff;
  border: 0;
  color: #fff;
  font-size: 18px;
}
